@import "@fremtind/jkl-button/button.min.css";
@import "@fremtind/jkl-core/core.min.css";
@import "@fremtind/jkl-text-input/text-input.min.css";
@import "@fremtind/jkl-icon-button/icon-button.min.css";
@import "@fremtind/jkl-table/table.min.css";
@import "@fremtind/jkl-footer/footer.min.css";
@import "@fremtind/jkl-checkbox/checkbox.min.css";
@import "@fremtind/jkl-tabs/tabs.min.css";
@import "@fremtind/jkl-icon-button/icon-button.min.css";
@import "@fremtind/jkl-select/select.min.css";
@import "@fremtind/jkl-accordion/accordion.min.css";
@import "@fremtind/jkl-list/list.min.css";
@import "@fremtind/jkl-cookie-consent/cookie-consent.min.css";
@import "@fremtind/jkl-button/button.min.css";
@import "@fremtind/jkl-loader/loader.min.css"; 
@import "@fremtind/jkl-core/core.min.css";
@import "@fremtind/jkl-expand-button/expand-button.min.css";
@import "@fremtind/jkl-icons/animated-icons.min.css";
@import "@fremtind/jkl-tag/tag.min.css";
@import "@fremtind/jkl-datepicker/datepicker.min.css";
@import "@fremtind/jkl-icon-button/icon-button.min.css";
@import "@fremtind/jkl-content-toggle/content-toggle.min.css";

body {
  margin: 5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
